<!DOCTYPE html>

<html>
    <head>
        <title>Compte généré</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" language="Javascript" src="/js/fonctions.js"></script>
    </head>

    <body>
        <h1>Votre compte</h1>

		<p>account et balance : <p id="info"><%= info %></p></p>
		<span id="json"></span>
        <form id="submit" action="" method="post">
			<a id="test">test</a>
        </form>
    </body>
</html>
<script type="text/javascript">

</script>