<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Connexion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" language="Javascript" src="/js/fonctions.js"></script>
    </head>
    <body>
		<div class="container">

			<form action="/init" method="post" id="signup">

				<div class="header">
				
					<h3>Connexion à InvestProject</h3>
					<p>Veuillez vous connecter avec votre clé secrète. Si vous avez une clé secrète pour Cowaboo vous pouvez vous connecter avec.</p>
					
				</div>
				
				<div class="sep"></div>
				<div id="chargement" style="text-align: center; display: none;">
						<p><img src="/img/chargement.gif" alt="test"/></p>
				</div>
				<div id="site" class="inputs">
				
					<input placeholder="Clé Privée"  type="password" name="secretKey" id="secretKey">
					<div id="resultat" style="color:#ff0000;" ></div>
					<a id="btnConnexion" href="#" >Connexion</a>
					<br>
					<div class="sep"></div>
					<a id="btnInscription" href="#" onclick="window.location='/inscription';">Inscription</a>
					<input type="hidden" name="publicKey" id="publicKey">
					<input type="hidden" name="email" id="email">
					<input type="hidden" name="doAcceptation" id="doAcceptation">
					<input type="submit" style="display:none;" id="lbSubmit">
				
				</div>

			</form>

		</div>
        <script type="text/javascript">
		/* Faire le fichier acceptation, faire le put avec le fichier json avec la génération du nouveau compte !
		**
		**
		**
		*/
			function chargement(reverse){
				if(reverse==false){
					$("#chargement").show();
					$("#site").hide();
				}
				else {
					$("#chargement").hide();
					$("#site").show();
				}
			}
			
			

			
            var clePrive = "";
			var tabComptes = [];
            
            $("#btnConnexion").click(function(){
                clePrive = $("#secretKey").val();
                var url = "http://groups.cowaboo.net/group-coInvest/public/api/user?secretKey="+clePrive;
                var jqxhr =  $.get(url);
                var clePublic = "";
				chargement(false);
                jqxhr.done(function( data ) {
                    clePublic = data.publicAddress;
					email = data.email;
					$("#publicKey").val(clePublic);
					$("#email").val(email);
					var url = "http://groups.cowaboo.net/group-coInvest/public/api/observatory?observatoryId=Comptes";
					var jqxhr =  $.get(url);
					jqxhr.done(function( data ) {
						valueJSON = data.dictionary.entries;//.?.value;
						//$("#json").text(valueJSON);
						//RECUPERER LE HASH POUR L'UTILISER DANS LE PUT ET FAIRE LE PUT, VERIFIER CHAQUE GET A CAUSE DU HASH
						//FAIRE UN EXEMPLE DINVESTISSEMENT AVEC LA PAGE TRANSACTION ET AFFICHER LE COMPTE AVEC LA BALANCE
						//COMMENCER A VOIR LES PAYEMENTS
						$.each(valueJSON, function(i, obj) {
							$.each(JSON.parse(obj.value), function(j, obj2) {
								tabComptes.push(new Utilisateur(obj2.publicKey));
							});
						});
						if(getUtilisateur(clePublic, tabComptes)!="null"){
							$("#doAcceptation").val("false");
						} else{
							$('#doAcceptation').val("true");
						}
						$("#lbSubmit").click();
					});
					jqxhr.fail(function(data){
						alert("Le fichier json n'a pas été récupéré");
						//$("#resultat").text("Cette clé privée n'est pas valide");
					});
                });
                jqxhr.fail(function(data){
					chargement(true);
                    $("#resultat").text("Cette clé privée n'est pas valide");
                });                
            });
        </script>
    </body>
</html>