<!--
	Auteur : Amir Saidi
	Date création : avril 2017
	Lieu : Genève / HEG
	Description : Page d'inscription uniquement avec son adresse mail, inscription qui appelle l'api de cowaboo qui créer un compte cowaboo/stellar et qui envoi les 
				  clés privé et public par email à la personne inscrite.
-->
<!DOCTYPE html>

<html>
    <head>
        <title>Inscription</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" language="Javascript" src="/js/fonctions.js"></script>
    </head>
    <body>
		<div class="container">

			<form id="signup">

				<div class="header">
				
					<h3>Inscription à InvestProject</h3>
					
					<p>Pour vous inscrire, nous avons besoin uniquement de votre email</p>
					
				</div>
				
				<div class="sep"></div>
				<div id="chargement" style="text-align: center; display: none;">
						<p><img src="img/chargement.gif" alt="test"/></p>
				</div>
				<div id="site" class="inputs">
					<input id="email" type="email" placeholder="e-mail" autofocus />
					
					<div style="color:#ff0000;" id="resultat"></div>
					
					<a id="submit" href="#">S'inscrire</a> <br>
					<div class="sep"></div>
					<p style="text-align:center;">Déjà inscrit ?</p>
					<a id="btnConnexion" href="#" >Se connecter</a>
				
				</div>

			</form>

		</div>
        <!--<h1>Inscription</h1>
        <div style="border-width: 1px;border-style: outset;border-color: black;">
            Email : <input style="margin-left: 21px" type="email" name="lbEmail" id="lbEmail"><br><br>
            <input style="margin-left: 221px" type="button" id="btnInscription" value="Inscription">
        </div>-->
        <script type="text/javascript">
			function chargement(reverse){
				if(reverse==false){
					$("#chargement").show();
					$("#site").hide();
				} else{
					$("#chargement").hide();
					$("#site").show();
				}
			}
			function validEmail(v) {
				var r = new RegExp("[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?");
				return (v.match(r) == null) ? false : true;
			}
            $("#submit").click(function(){
                var email = $("#email").val();
				if(validEmail(email)){
					var jqxhr =  $.post( "http://groups.cowaboo.net/group-coInvest/public/api/user?email="+email);
					chargement(false);
					jqxhr.done(function( data ) {
						window.location="/inscriptionReussie";
					});
					jqxhr.fail(function(data){
						chargement(true);
						$("#resultat").text("Cet email est déjà utilisé.");
					})
				}
				else{
					$("#resultat").text("Veuillez entrer un email valide, s'il vous plait.");
				}
            });


			$("#btnConnexion").click(function(){
				window.location = '/connexion';
			});
			
        </script>
    </body>
</html>
