<!--
	Auteur : Amir Saidi
	Date création : avril 2017
	Lieu : Genève / HEG
	Description : page qui informe l'utilisateur que l'inscription est réussie et qu'il va recevoir un email avec sa clé privée et sa clé publique.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Inscription</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" language="Javascript" src="/js/fonctions.js"></script>
    </head>
    <body>
		<div class="container">

			<form id="signup">

				<div class="header">
				
					<h3>Inscription réussie !</h3>
					
					<p>Votre inscription s'est déroulée avec succès, dans les minutes qui suivent vous allez recevoir un email contenant votre clé privé avec laquelle vous pourrez vous connecter <a href="/connexion">ici</a>. </p>
					
				</div>
				
				<div class="sep"></div>
			</form>

		</div>